html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 100%;
  max-width: 1600px;
  margin: 0;
  text-align: center;
}

.container {
  display: inline-block;
  width: 100%;
  max-width: 840px;
  padding-top: 40px;
}

.js-input {
  width: 100%;
  max-width: 840px;
  height: 40px;
  margin-bottom: 40px;
  font-size: 20px;
}

.list-container {
  width: 100%;
  max-width: 840px;
}

.list {
  display: inline-block;
  width: 100%;
  list-style: initial;
  font-size: 30px;
  text-align: left;
}

.contry-container {
  display: flex;
  width: 100%;
  max-width: 840px;
}

.title {
  margin-bottom: 40px;
  font-size: 40px;
}

.contry-list {
  max-width: 420px;
  list-style: none;
}

.item {
  padding-left: 40px;
  list-style: initial;
}

.flag {
  width: 100%;
  max-width: 420px;
}
